<section class="container about-us" id="about_us">
  <img
    class="about-us-img"
    src="./images/about-us-donuts.png"
    alt="donut image"
  />
  <div class="about-us-text-layout">
    <h2 class="section-titles about-us-title about-text-spacing">About Us</h2>
    <p class="about_text about-text-spacing">
      Oh My Donut is the shop which adores tasty deserts and spend hours to
      create sophisticated donuts which will save the world!
    </p>
    <p class="about_text about-text-spacing">
      Eva has been baking since she was six years old and over the last 49
      years, she has created hundreds of cakes for weddings and has baked for
      many celebrities. Eva and our shop have received multiple awards &
      recognition for excellence.
    </p>
    <p class="about_text hidden-text about-text-spacing" id="hidden-text-about">
      We are going to teach you how to cook with passion and sparkles in your
      eyes! We love what we do and believe you will enjoy our cooking
      atmosphere!
    </p>
    <label for="hidden-text-about" class="read_more">
      <span>Read more</span>
    </label>
  </div>
</section>
