<section class="container contact-section" id="contact">
  <h2 class="section-titles">Contact</h2>
  <form class="contact-form">
    <h3 class="contact-title">We will answer any question!</h3>
    <input
      type="email"
      name="contact-email"
      class="contact-input"
      placeholder="Email"
    />
    <input
      type="text"
      name="contact-question"
      class="contact-input question"
      placeholder="Type your question"
    />
    <button type="submit" class="btn-send">Send</button>
  </form>
</section>
