<footer class="container">
  <ul class="social-media">
    <li class="social-media-item">
      <a href=""
        ><svg width="16" height="16" class="social-media-icon">
          <use href="./images/sprite.svg#icon-twitter"></use></svg
      ></a>
    </li>
    <li class="social-media-item">
      <a href=""
        ><svg width="16" height="16" class="social-media-icon">
          <use href="./images/sprite.svg#icon-Instagram"></use></svg
      ></a>
    </li>
    <li class="social-media-item">
      <a href=""
        ><svg width="16" height="16" class="social-media-icon">
          <use href="./images/sprite.svg#icon-Facebook"></use></svg
      ></a>
    </li>
  </ul>
  <ul class="info">
    <li class="info-item">
      <svg class="info-icon">
        <use href="./images/sprite.svg#icon-phone"></use>
      </svg>
      <a href="tel:+" class="info-tel">(910)222-8855</a>
    </li>
    <li class="info-item">
      <svg class="info-icon">
        <use href="./images/sprite.svg#icon-address"></use>
      </svg>
      <a href="" class="info-location">New York</a>
    </li>
  </ul>
</footer>
