<section class="container price-section" id="price">
  <h2 class="section-titles price">Price</h2>
  <ul class="option-list">
    <li class="price-item">
      <h3 class="price-title">Easy start</h3>
      <ul>
        <li class="option">features of yeast dough preparation</li>
        <li class="option">preparation of liquid caramel for stuffing</li>
        <li class="option">preparation of raspberry and strawberry filling</li>
        <li class="option">fry and glaze donuts</li>
      </ul>
      <button type="button" class="btn-register">
        <a href="#register" class="btn-text">Register</a>
      </button>
    </li>
    <li class="price-item">
      <h3 class="price-title">I want delicious donuts</h3>
      <ul>
        <li class="option">features of yeast dough preparation</li>
        <li class="option">preparation of liquid caramel for stuffing</li>
        <li class="option">preparation of raspberry and strawberry filling</li>
        <li class="option">melt chocolate for decoration</li>
        <li class="option">fry and glaze donuts</li>
        <li class="option">
          donut decoration. painting and various techniques
        </li>
      </ul>
      <button type="button" class="btn-register">
        <a href="#register" class="btn-text">Register</a>
      </button>
    </li>
    <li class="price-item">
      <h3 class="price-title">Premium</h3>
      <ul>
        <li class="option">features of yeast dough preparation</li>
        <li class="option">preparation of liquid caramel for stuffing</li>
        <li class="option">preparation of raspberry and strawberry filling</li>
        <li class="option">melt chocolate for decoration</li>
        <li class="option">fry and glaze donuts</li>
        <li class="option">
          donut decoration. painting and various techniques
        </li>
        <li class="option">After party and donut tasting with speakers</li>
        <li class="option">2 private lessons with one of the speakers</li>
      </ul>
      <button type="button" class="btn-register">
        <a href="#register" class="btn-text">Register</a>
      </button>
    </li>
  </ul>
</section>
