<section class="container review-section" id="reviews">
  <h2 class="section-titles reviews">Reviews</h2>
  <div class="review-container">
    <div class="carousel">
      <article class="review-item">
        <picture>
          <source
            srcset="./images/john.png 1x, ./images/john@2x.png 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./images/john_tabl.png 1x, ./images/john_tabl@2x.png 2x"
            media="(min-width: 768px) and (max-width: 1199px)"
          />
          <source
            srcset="./images/john_desk.png 1x, ./images/john_desk@2x.png 2x"
            media="(min-width: 1200px)"
          />
          <img src="./images/john.png" alt="John" class="reviewer" />
        </picture>
        <div class="review-description">
          <ul class="rating">
            <li>
              <svg class="icon-rate">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-rate">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-rate">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-rate">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-rate">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
          <p class="reviewer-name">John</p>
        </div>
      </article>
      <article class="review-item">
        <picture>
          <source
            srcset="./images/will.png 1x, ./images/will@2x.png 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./images/will_tabl.png 1x, ./images/will_tabl@2x.png 2x"
            media="(min-width: 768px) and (max-width: 1199px)"
          />
          <source
            srcset="./images/will_desk.png 1x, ./images/will_desk@2x.png 2x"
            media="(min-width: 1200px)"
          />
          <img src="./images/will.png" alt="Will" class="reviewer" />
        </picture>
        <div class="review-description">
          <ul class="rating">
            <li>
              <svg class="icon-rate">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-rate">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-rate">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-rate">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-rate">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
          <p class="reviewer-name">Will</p>
        </div>
      </article>
      <article class="review-item">
        <picture>
          <source
            srcset="./images/elisabeth.png 1x, ./images/elisabeth@2x.png 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/elisabeth_tabl.png    1x,
              ./images/elisabeth_tabl@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
          />
          <source
            srcset="
              ./images/elisabeth_desk.png    1x,
              ./images/elisabeth_desk@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <img src="./images/elisabeth.png" alt="Elisabeth" class="reviewer" />
        </picture>
        <div class="review-description">
          <ul class="rating">
            <li>
              <svg class="icon-rate">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-rate">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-rate">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-rate">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-rate">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
          <p class="reviewer-name">Elisabeth</p>
        </div>
      </article>
      <article class="review-item">
        <picture>
          <source
            srcset="./images/john.png 1x, ./images/john@2x.png 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./images/john_tabl.png 1x, ./images/john_tabl@2x.png 2x"
            media="(min-width: 768px) and (max-width: 1199px)"
          />
          <source
            srcset="./images/john_desk.png 1x, ./images/john_desk@2x.png 2x"
            media="(min-width: 1200px)"
          />
          <img src="./images/john.png" alt="John" class="reviewer" />
        </picture>
        <div class="review-description">
          <ul class="rating">
            <li>
              <svg class="icon-rate">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-rate">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-rate">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-rate">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-rate">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
          <p class="reviewer-name">John</p>
        </div>
      </article>
      <article class="review-item">
        <picture>
          <source
            srcset="./images/will.png 1x, ./images/will@2x.png 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="./images/will_tabl.png 1x, ./images/will_tabl@2x.png 2x"
            media="(min-width: 768px) and (max-width: 1199px)"
          />
          <source
            srcset="./images/will_desk.png 1x, ./images/will_desk@2x.png 2x"
            media="(min-width: 1200px)"
          />
          <img src="./images/will.png" alt="Will" class="reviewer" />
        </picture>
        <div class="review-description">
          <ul class="rating">
            <li>
              <svg class="icon-rate">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-rate">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-rate">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-rate">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-rate">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
          <p class="reviewer-name">Will</p>
        </div>
      </article>
      <article class="review-item">
        <picture>
          <source
            srcset="./images/elisabeth.png 1x, ./images/elisabeth@2x.png 2x"
            media="(max-width: 767px)"
          />
          <source
            srcset="
              ./images/elisabeth_tabl.png    1x,
              ./images/elisabeth_tabl@2x.png 2x
            "
            media="(min-width: 768px) and (max-width: 1199px)"
          />
          <source
            srcset="
              ./images/elisabeth_desk.png    1x,
              ./images/elisabeth_desk@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <img src="./images/elisabeth.png" alt="Elisabeth" class="reviewer" />
        </picture>
        <div class="review-description">
          <ul class="rating">
            <li>
              <svg class="icon-rate">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-rate">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-rate">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-rate">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li>
              <svg class="icon-rate">
                <use href="./images/sprite.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
          <p class="reviewer-name">Elisabeth</p>
        </div>
      </article>
    </div>
  </div>
  <div class="review">
    <p class="review-text">
      Last time I have visited a cooking course by Eva I was impressed with the
      way she explained everything to people. You can be sure you will manage to
      cook a delicious dish even if it is your first time in the kitchen! Thank
      you so much for the masterclass! Looking forward to the next one and
      highly
    </p>
    <p class="review-text">
      Last time I have visited a cooking course by Eva I was impressed with the
      way she explained everything to people. You can be sure you will manage to
      cook a delicious dish even if it is your first time in the kitchen! Thank
      you so much for the masterclass! Looking forward to the next one and
      highly
    </p>
    <p class="review-text">
      Last time I have visited a cooking course by Eva I was impressed with the
      way she explained everything to people. You can be sure you will manage to
      cook a delicious dish even if it is your first time in the kitchen! Thank
      you so much for the masterclass! Looking forward to the next one and
      highly
    </p>
    <p class="review-text">
      Last time I have visited a cooking course by Eva I was impressed with the
      way she explained everything to people. You can be sure you will manage to
      cook a delicious dish even if it is your first time in the kitchen! Thank
      you so much for the masterclass! Looking forward to the next one and
      highly
    </p>
    <p class="review-text">
      Last time I have visited a cooking course by Eva I was impressed with the
      way she explained everything to people. You can be sure you will manage to
      cook a delicious dish even if it is your first time in the kitchen! Thank
      you so much for the masterclass! Looking forward to the next one and
      highly
    </p>
    <p class="review-text">
      Last time I have visited a cooking course by Eva I was impressed with the
      way she explained everything to people. You can be sure you will manage to
      cook a delicious dish even if it is your first time in the kitchen! Thank
      you so much for the masterclass! Looking forward to the next one and
      highly
    </p>
  </div>
</section>
