<section class="container speakers" id="speakers">
  <h2 class="section-titles">Speakers</h2>
  <ul class="speakers-list">
    <li class="speaker">
      <picture>
        <source
          srcset="./images/pastry_chef.png 1x, ./images/pastry_chef@2x.png 2x"
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ./images/pastry_chef152.png    1x,
            ./images/pastry_chef152@2x.png 2x
          "
          media="(min-width: 768px) and (max-width: 1199px)"
        />
        <source
          srcset="
            ./images/pastry_chef288.png    1x,
            ./images/pastry_chef288@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <img src="./images/pastry_chef.png" alt="Molly Rivera" />
      </picture>
      <h3 class="speaker-title">Molly Rivera</h3>
      <p class="speaker-position">Pastry chef, master chocolatier of Spain</p>
    </li>
    <li class="speaker">
      <picture>
        <source
          srcset="
            ./images/culinary_school_pastry_chef.png    1x,
            ./images/culinary_school_pastry_chef@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ./images/culinary_school_pastry_chef152.png    1x,
            ./images/culinary_school_pastry_chef152@2x.png 2x
          "
          media="(min-width: 768px) and (max-width: 1199px)"
        />
        <source
          srcset="
            ./images/culinary_school_pastry_chef288.png    1x,
            ./images/culinary_school_pastry_chef288@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <img
          src="./images/culinary_school_pastry_chef.png"
          alt="Sophia Clark"
        />
      </picture>
      <h3 class="speaker-title">Sophia Clark</h3>
      <p class="speaker-position">Сulinary school pastry chef</p>
    </li>
    <li class="speaker">
      <picture>
        <source
          srcset="
            ./images/consultant_in_the_art_of_confectionery.png    1x,
            ./images/consultant_in_the_art_of_confectionery@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ./images/consultant_in_the_art_of_confectionery152.png    1x,
            ./images/consultant_in_the_art_of_confectionery152@2x.png 2x
          "
          media="(min-width: 768px) and (max-width: 1199px)"
        />
        <source
          srcset="
            ./images/consultant_in_the_art_of_confectionery288.png    1x,
            ./images/consultant_in_the_art_of_confectionery288@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <img
          src="./images/consultant_in_the_art_of_confectionery.png"
          alt="Isabella Taylor"
        />
      </picture>
      <h3 class="speaker-title">Isabella Taylor</h3>
      <p class="speaker-position">Сonsultant in the art of confectionery</p>
    </li>
    <li class="speaker">
      <picture>
        <source
          srcset="
            ./images/master-chocolatier.png    1x,
            ./images/master-chocolatier@2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <source
          srcset="
            ./images/master-chocolatier152.png    1x,
            ./images/master-chocolatier152@2x.png 2x
          "
          media="(min-width: 768px) and (max-width: 1199px)"
        />
        <source
          srcset="
            ./images/master-chocolatier288.png    1x,
            ./images/master-chocolatier288@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <img src="./images/master-chocolatier.png" alt="Evelyn Miller" />
      </picture>
      <h3 class="speaker-title">Evelyn Miller</h3>
      <p class="speaker-position">Master- chocolatier in Spain</p>
    </li>
  </ul>
</section>
